<div>
    <div class="panel panel-default tab-panel">
        <div class="panel-body">

            <form name="frm" class="form-horizontal" role="form" ng-submit="frm.$valid && sub()">

                <div class="form-group"
                     ng-class="{'has-error' : createUserForm.name.$dirty && createUserForm.name.$invalid, 'has-success' : createUserForm.name.$dirty && createUserForm.name.$valid}">
                    <label for="name" class="col-sm-1 control-label">姓名</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="姓名"
                               ng-model="user.name" required>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error' : createUserForm.mobile.$dirty && createUserForm.mobile.$invalid, 'has-success' : createUserForm.mobile.$dirty && createUserForm.mobile.$valid}">
                    <label for="mobile" class="col-sm-1 control-label">手机号</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="mobile" name="mobile"
                               placeholder="手机号"
                               ng-model="user.mobile">
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error' : createUserForm.address.$dirty && createUserForm.address.$invalid, 'has-success' : createUserForm.address.$dirty && createUserForm.address.$valid}">
                    <label for="address" class="col-sm-1 control-label">地址</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="address" name="address"
                               placeholder="地址"
                               ng-model="user.address">
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error' : createUserForm.desc.$dirty && createUserForm.desc.$invalid, 'has-success' : createUserForm.desc.$dirty && createUserForm.desc.$valid}">
                    <label for="desc" class="col-sm-1 control-label">备注</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="desc" name="desc"
                               placeholder="备注"
                               ng-model="user.desc">
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error' : frm.sex.$dirty && frm.sex.$invalid, 'has-success' : frm.sex.$dirty && frm.sex.$valid}">
                    <label class="col-sm-1 control-label">性别</label>

                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input name="sex" type="radio" ng-value="true"
                                   ng-model="user.sex"> 男
                        </label>
                        <label class="radio-inline">
                            <input name="sex" type="radio" ng-value="false"
                                   ng-model="user.sex" ng-checked="true"> 女
                        </label>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <button class="btn btn-primary" type="submit" ng-disabled="!frm.$valid">
                            <i class="fa" ng-class="{'fa-check': !loading, 'fa-spinner fa-spin': loading}"></i>
                            提交
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

