<div class="col-md-10">
    <tabset>
        <tab heading="会员" active="tabset.list" select="selectTab()">
            <form class="navbar-form navbar-left" role="search" ng-submit="search()">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.name" placeholder="姓名" style="width: 150px">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.mobile" placeholder="手机号"
                           style="width: 150px">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.address" placeholder="地址"
                           style="width: 150px">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <button ng- class="btn btn-warning" ng-click="reset()">清空</button>
            </form>
            <table class="table list text_va_middle" style="border: 1px solid #ddd;">
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>地址</th>
                    <th width="100px">操作</th>
                </tr>
                <tr ng-repeat="a in data.data">
                    <td class="word-wrap">{{$index + 1}}</td>
                    <td class="word-wrap">
                        {{a.name}}
                    </td>
                    <td class="word-wrap">
                        {{a.mobile}}
                    </td>
                    <td class="word-wrap">
                        {{a.address}}
                    </td>
                    <td width="320px">
                        <button class="btn btn-primary btn-sm fa fa-pencil-square-o" ng-click="edit($index)">
                            编辑
                        </button>
                        <button class="btn btn-danger btn-sm fa fa-trash-o" ng-click="remove($index)">
                            删除
                        </button>
                    </td>
                    <div style="clear: both;"></div>
                </tr>
            </table>
            <div class="text-center">
                <pagination
                        total-items="data.total" ng-model="user.page" items-per-page="data.size"
                        max-size="10" class="pagination-sm" boundary-links="true" rotate="true"
                        previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页">
                </pagination>
            </div>
        </tab>

        <tab heading="创建" active="tabset.create" ng-show="tabset.create">
            <div ng-include="'views/user/create.html'"></div>
        </tab>

    </tabset>
</div>
<div class="col-md-offset-10">
    <div class="dropdown">
        <a href="javascript:;" ng-click="create()" class="btn btn-primary fa fa-plus">添加会员</a>
    </div>
</div>
